<!-- weather-forecast.component.html -->
<div class="weather-container">
  <h2>Weather Forecast</h2>

    <div class="forecast-grid">
      @for (forecast of store.forecasts(); track forecast){
        <div class="forecast-card">
          <div class="date">{{ forecast.date | date:'mediumDate' }}</div>
          <div class="temperature">
            <span class="temp-c">{{ forecast.temperatureC }}°C</span>
            <span class="temp-f">({{ forecast.temperatureF }}°F)</span>
          </div>
          <div class="summary">{{ forecast.summary }}</div>
        </div>
      } @empty {
        <div class="forecast-card">No Forecasts</div>
      }
    </div>
</div>